*{
    text-decoration: none;
}
.blog-footer{
    text-align: center;
    background-color: #000;
    min-height: 50px;
    padding: 25px;
    font-size: 20px;
}

.contacto{
    font-family: consolas;
    color: #aefd51;
    padding: 5px;
    
    
}

.contacto a{
    font-family: consolas;
    color: #92fc14;
    padding: 5px;
}